.fd-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 20vh;
  box-sizing: border-box;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fbFadein 0.5s ease both;
}

/* loading样式 */
.fd-loading {
  display: inline-flex;
  position: relative;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  color: black;
  animation: fdLoading 0.8s steps(60, end) infinite;
  color: rgba(0, 0, 0, 0.7);
}

.fd-loading:before,
.fd-loading:after {
  content: '';
  display: block;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid;
  border-color: currentColor;
  opacity: 0.5;
}

.fd-loading:before {
  border-right-width: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 8%, rgba(0, 0, 0, 0.3) 95%);
}

.fd-loading:after {
  border-left-width: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  mask-image: linear-gradient(225deg, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.3) 95%);
}

.fd-dot {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background: currentColor;
  opacity: 0.5;
}

/* 提示样式 */
.fd-container .text {
  color: #fff;
  text-align: center;
  max-width: 80%;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
  padding: 0.6em 0.8em;
  background-color: rgba(0, 0, 0, 0.78);
  border-radius: 3px;
  animation: fbFadein 0.5s ease both;
}
@keyframes fbFadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fdLoading {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
